{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div class="position-relative p-5 text-center">
        <h1 class="mt-2">Welcome, Get started!</h1>
        <div class="position-relative top-3 start-0 p-3 text-start">
            <h2>Actions:</h2>
            <ul class="list-unstyled mb-0">
                <li><a class="fw-normal fs-4 text-decoration-none" href="/adddeck">• Create a new deck</a></li>
                <li><a class="fw-normal fs-4 text-decoration-none" href="/importdecktsv">• Import a deck from a TSV file</a></li>
            </ul>
        </div>
    </div>
    <hr/>
    <table>
        <thead>
            <tr>
                <th>Deck title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deck in decks %}
            <tr class="cursor-pointer" onclick="window.location.href='/viewdeck/{{ deck[0] }}'">
                <td>
                    <form action="/renamedeck" method="POST" class="d-inline-block">
                        <input type="hidden" name="deck_id" value="{{ deck[0] }}"/>
                        <input type="text" name="title" value="{{ deck[1] }}" 
                            class="h4 border-0 border-bottom text-center bg-transparent outline-none w-auto"
                            style="display: inline-block; min-width: 200px;"
                            onfocus="this.select()"
                            onclick="event.stopPropagation()">
                    </form>
                </td>
                <td><a class="btn btn-primary">View</a>&nbsp;
                    <a class="btn btn-danger" href="/deletedeck/{{ deck[0] }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
